@use "../abstracts/mixins";
@use "../base/animations";
.auth__container {
  background: linear-gradient(270deg, #ff6b6b, #f7d794, #6a89cc, #ff6b6b);

  background-size: 600% 600%;

  animation: gradientAnimation 16s ease infinite;
  @include mixins.page-full;
  & .auth__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
