// Font families
$headings-font-family: Poppins, sans-serif;
$body-font-family: Inter, sans-serif;
$body-alt-font-family: Montserrat, sans-serif;
// Font sizes
$font-xl: 3rem;
$font-lg: 2.5rem;
$font-md: 2rem;
$font-sm: 1.5rem;

// Font weights
$weight-bold: 800;
$weight-medium: 600;
$weight-normal: 400;
$weight-light: 200;
